<h2>Your Profile:</h2>

<p><b>Name:</b>
<p><%= @client.name() %></p>

<p><b>Pal points:</b>
<p><%= @client.pal_point() %>

<br><br>
<a class="button2" href="/clients/<%= @client.id %>/edit">edit</a></p>


<b>Current Pals:</b>
<p><% @client.pals.each do |pal| %>
  <a href="/pals/<%= pal.id %>"><%= pal.name %></a>
  <br><br>
  Type: <%= pal.type %></p>

<a href="/palships/<%= pal.id %>"> view palship</a>
<br><br>
<hr>
<% end %>

<hr>

<a class="button2" href="/palships/new">new pal</a>
<a class="button2" href="/paldates/new">new date</a>

<br><br>

<form actions="/clients/<%= @client.id %>" method="post">
  <input type="submit" value="Delete profile"/>
  <input name="_method" type="hidden" value="Delete"/>
</form>
