<b>Name:</b>
<p><%= @client.name() %></p>

<b>Current Pals:</b><br>
<p><% @client.pals.each do |pal| %>
  <a href="/pals/<%= pal.id %>"><%= pal.name %></a>
  <br>Type: <%= pal.type %></p>

<a href="/palships/<%= pal.id %>">View palship</a>
<a href="/clients/<%= @client.id %>/edit">Edit</a>
<br><br>

<form actions="/clients/<%= @client.id %>" method="post">
  <input type="submit" value="Delete"/>
  <input name="_method" type="hidden" value="Delete"/>
</form>

<% end %>

<br><br>
<a href="/palships/new">get a pal!</a><br>
<a href="/paldates/new">go on a date!</a><br>

<a href="/clients">go back</a><br>

