<h2>Your Profile:</h2>

<div class="grid-profile">
  <h4>Name:
    <%= @client.name() %></h4>

    <h5>Pal points:
      <%= @client.pal_point() %></h5>

      <a class="button2" href="/clients/<%= @client.id %>/edit">edit</a>
      </div>   

      <div class="grid-profile">
      <h4>Current Pals:</h4>
      <h5><% @client.pals.each do |pal| %>
        <a href="/pals/<%= pal.id %>"><%= pal.name %></a>
        <br><br>
      <% end %>
      </h5></div>

      <img src="/images/create_pal.png" style="width:100px; height:100px"> 

      <br><br>

      <a href="/palships/new"><img src="/images/new_pal.png" style="width:50px; height:50px"></a>
      <a href="/"><img src="/images/home.png" style="width:50px; height:50px"></a>

      <br><br>

      <form actions="/clients/<%= @client.id %>" method="post">
        <input type="submit" value="Delete profile"/>
        <input name="_method" type="hidden" value="Delete"/>
      </form>
